NutefTalk_QrCode.json
{
  "name": "NutefTalk QrCode",
  "nodes": [
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>QR Code da Instância</title>\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\">\n    <style>\n        :root {\n            --primary: #6366f1;\n            --primary-light: #818cf8;\n            --primary-dark: #4f46e5;\n            --secondary: #f97316;\n            --background: #f8fafc;\n            --card: #ffffff;\n            --border: #e2e8f0;\n            --text: #0f172a;\n            --text-secondary: #64748b;\n            --success: #10b981;\n        }\n\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Inter', sans-serif;\n            background-color: var(--background);\n            color: var(--text);\n            min-height: 100vh;\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n            justify-content: center;\n            padding: 1.5rem;\n        }\n\n        .container {\n            width: 100%;\n            max-width: 480px;\n            background: var(--card);\n            border-radius: 16px;\n            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);\n            overflow: hidden;\n        }\n\n        .header {\n            background: linear-gradient(135deg, var(--primary), var(--primary-dark));\n            padding: 1.5rem;\n            color: white;\n            text-align: center;\n        }\n\n        .header h1 {\n            font-size: 1.5rem;\n            font-weight: 600;\n            margin-bottom: 0.5rem;\n        }\n\n        .header p {\n            font-size: 0.875rem;\n            opacity: 0.9;\n        }\n\n        .content {\n            padding: 2rem;\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n        }\n\n        .instance-name {\n            background-color: rgba(99, 102, 241, 0.1);\n            color: var(--primary-dark);\n            padding: 0.5rem 1rem;\n            border-radius: 9999px;\n            font-weight: 500;\n            font-size: 0.875rem;\n            margin-bottom: 1.5rem;\n            display: inline-block;\n        }\n\n        .qr-container {\n            position: relative;\n            width: 240px;\n            height: 240px;\n            margin-bottom: 1.5rem;\n            border-radius: 12px;\n            overflow: hidden;\n            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);\n            background-color: white;\n            padding: 10px;\n        }\n\n        .qr-code {\n            width: 100%;\n            height: 100%;\n            object-fit: contain;\n            border-radius: 8px;\n        }\n\n        .timer-container {\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            margin-top: 1rem;\n        }\n\n        .timer-icon {\n            width: 18px;\n            height: 18px;\n            margin-right: 0.5rem;\n            color: var(--text-secondary);\n        }\n\n        .timer {\n            font-size: 0.875rem;\n            color: var(--text-secondary);\n            display: flex;\n            align-items: center;\n        }\n\n        .timer-value {\n            font-weight: 600;\n            color: var(--secondary);\n            margin-left: 0.25rem;\n        }\n\n        .footer {\n            margin-top: 2rem;\n            text-align: center;\n            font-size: 0.75rem;\n            color: var(--text-secondary);\n        }\n\n        .pulse {\n            animation: pulse 2s infinite;\n        }\n\n        @keyframes pulse {\n            0% {\n                box-shadow: 0 0 0 0 rgba(99, 102, 241, 0.4);\n            }\n            70% {\n                box-shadow: 0 0 0 10px rgba(99, 102, 241, 0);\n            }\n            100% {\n                box-shadow: 0 0 0 0 rgba(99, 102, 241, 0);\n            }\n        }\n\n        @media (max-width: 480px) {\n            .container {\n                border-radius: 12px;\n            }\n            \n            .qr-container {\n                width: 200px;\n                height: 200px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>QR Code da Instância</h1>\n            <p>Escaneie para conectar</p>\n        </div>\n        \n        <div class=\"content\">\n            <div class=\"instance-name\">Nome da Instância</div>\n            \n            <div class=\"qr-container\">\n                <!-- SUBSTITUA ESTA IMAGEM PELO SEU QR CODE -->\n                <img src=\"{{ $('Evolution API').item.json.data.base64 }}\" alt=\"QR Code\" class=\"qr-code\">\n              \n            </div>\n          \n            \n            <div class=\"timer-container\">\n                <svg class=\"timer-icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\">\n                    <circle cx=\"12\" cy=\"12\" r=\"10\"></circle>\n                    <polyline points=\"12 6 12 12 16 14\"></polyline>\n                </svg>\n                <div class=\"timer\">\n                    Novo QR Code em: <span class=\"timer-value\" id=\"timer\">30s</span>\n                </div>\n            </div>\n        </div>\n    </div>\n    \n    <div class=\"footer\">\n        &copy; 2025 Sistema de Instâncias • Todos os direitos reservados\n    </div>\n\n    <script>\n        document.addEventListener('DOMContentLoaded', function() {\n    let timeLeft = 30;\n    const timerElement = document.getElementById('timer');\n    const qrContainer = document.querySelector('.qr-container');\n    \n    // Função para iniciar o contador\n    function startCountdown() {\n        // Limpa qualquer intervalo existente para evitar múltiplos contadores\n        if (window.countdownInterval) {\n            clearInterval(window.countdownInterval);\n        }\n        \n        // Reseta o estado inicial\n        timeLeft = 30;\n        timerElement.textContent = timeLeft + 's';\n        qrContainer.classList.remove('pulse');\n        \n        // Inicia um novo contador\n        window.countdownInterval = setInterval(() => {\n            timeLeft--;\n            timerElement.textContent = timeLeft + 's';\n            \n            // Adiciona animação de pulso quando o tempo está acabando\n            if (timeLeft <= 10) {\n                qrContainer.classList.add('pulse');\n            }\n            \n            if (timeLeft <= 0) {\n                clearInterval(window.countdownInterval);\n                \n                // Recarrega a página automaticamente ao invés de mostrar um alerta\n                window.location.reload();\n            }\n        }, 1000);\n    }\n    \n    // Inicia o contador quando a página carrega\n    startCountdown();\n});\n    </script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        340,
        -360
      ],
      "id": "5a82a582-c682-40bb-bc1a-afe1132f5579",
      "name": "HTML",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c2785fe6-f5bc-4233-8e92-d0f47f9d7b80",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        140
      ],
      "id": "724eb14b-a9e0-4b5f-9007-f405f3add913",
      "name": "Webhook",
      "webhookId": "c2785fe6-f5bc-4233-8e92-d0f47f9d7b80"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -260,
        140
      ],
      "id": "80d9884b-806c-428f-ad99-5cf31639e5f5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6840be4b-bbc2-4e47-b7e1-5066d48bc870",
      "name": "Filtrar Mensagens Recebidas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -20,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "event",
              "value": "MESSAGES_UPSERT",
              "type": "string"
            },
            {
              "id": "2",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "data",
              "value": "={{ [$json.body.data] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "89d963ab-841c-4323-8e85-96a2f6ac850f",
      "name": "Transformar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        260
      ]
    },
    {
      "parameters": {
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "client_phone",
              "fieldValue": "={{ $('Transformar Dados').item.json.data[0].key.remoteJid .replace(/@s\\.whatsapp\\.net|@c\\.us/g, '') }}"
            },
            {
              "fieldId": "client_name",
              "fieldValue": "={{ $('Transformar Dados').item.json.data[0].pushName || $('Transformar Dados').item.json.data[0].key.remoteJid.replace(/@s\\.whatsapp\\.net|@c\\.us/g, '') }}"
            },
            {
              "fieldId": "instance_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "sector",
              "fieldValue": "support"
            },
            {
              "fieldId": "status",
              "fieldValue": "new"
            },
            {
              "fieldId": "last_message_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        260
      ],
      "id": "3b4419e5-fc78-4405-bc10-1a44d24058a4",
      "name": "Insert Conversation",
      "credentials": {
        "supabaseApi": {
          "id": "2rHB4lh5lXJhg4w2",
          "name": "Supabase NutefTalk"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "instances",
        "filters": {
          "conditions": [
            {
              "keyName": "instance_name",
              "keyValue": "={{ $json.instance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        420,
        260
      ],
      "id": "5c317890-320d-4a15-a4fc-d624d8053073",
      "name": "PegaIDInstancia",
      "credentials": {
        "supabaseApi": {
          "id": "2rHB4lh5lXJhg4w2",
          "name": "Supabase NutefTalk"
        }
      }
    },
    {
      "parameters": {
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "from_phone",
              "fieldValue": "={{ $('Transformar Dados').item.json.data[0].key.remoteJid.replace(/@s\\.whatsapp\\.net|@c\\.us/g, '') }}"
            },
            {
              "fieldId": "to_phone",
              "fieldValue": "={{ $('Webhook').item.json.body.sender.replace(/@s\\.whatsapp\\.net|@c\\.us/g, '') }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Transformar Dados').item.json.data[0].message.conversation }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "text"
            },
            {
              "fieldId": "direction",
              "fieldValue": "incoming"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        860,
        260
      ],
      "id": "96751747-ea17-49b0-b8b4-537ce1c92d92",
      "name": "Insert Message",
      "credentials": {
        "supabaseApi": {
          "id": "2rHB4lh5lXJhg4w2",
          "name": "Supabase NutefTalk"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.nutef.com",
            "user-agent": "axios/1.7.9",
            "content-length": "1092",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.nutef.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "f5f8206abb58",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "whatsapp_7391008217",
            "data": {
              "key": {
                "remoteJid": "5511932473951@s.whatsapp.net",
                "fromMe": false,
                "id": "37C6044F71BC101B9A318C4BF4AE4756"
              },
              "pushName": "Nutef",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "h7FIRSqSQFpoeA==",
                    "senderTimestamp": "1749394460",
                    "recipientKeyHash": "TnsELfK+X/dN2A==",
                    "recipientTimestamp": "1750431428"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "Tzuv0JURdnUogXuECQ6v8KJINDsvjcXmxqIZZfh5qo8="
                },
                "conversation": "Vai"
              },
              "contextInfo": {
                "expiration": 7776000,
                "ephemeralSettingTimestamp": "1750086360",
                "disappearingMode": {
                  "initiator": "INITIATED_BY_ME",
                  "trigger": "ACCOUNT_SETTING",
                  "initiatedByMe": true
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1750437878,
              "instanceId": "bd7dd86b-8651-4b75-990b-ac970e486187",
              "source": "android"
            },
            "destination": "https://webhook.nutef.com/webhook/c2785fe6-f5bc-4233-8e92-d0f47f9d7b80",
            "date_time": "2025-06-20T13:44:39.231Z",
            "sender": "557391008217@s.whatsapp.net",
            "server_url": "https://evolution.nutef.com",
            "apikey": "C4C63A47-3A5F-4F4A-922F-05589EF1ACA8"
          },
          "webhookUrl": "https://webhook.nutef.com/webhook/c2785fe6-f5bc-4233-8e92-d0f47f9d7b80",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "HTML": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagens Recebidas": {
      "main": [
        [
          {
            "node": "Transformar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Dados": {
      "main": [
        [
          {
            "node": "PegaIDInstancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Filtrar Mensagens Recebidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Conversation": {
      "main": [
        [
          {
            "node": "Insert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PegaIDInstancia": {
      "main": [
        [
          {
            "node": "Insert Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5e07262-79d9-4b5d-81d1-91c05d36baf9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c97626f9add3e1c9da12fb07aa2d25f2db00e72b8089e1f0b5405e85dcdb85ba"
  },
  "id": "0nTq0XnTO32IcsDQ",
  "tags": []
}